{% extends 'base.html.twig' %}

{% block title %}Recherche par catégorie{% endblock %}

{% block categoryActive %}active{% endblock %}

{% block body %}

<h1>Recherche par catégorie</h1>

<h2>Liste des catégories</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}

      {{ include('sample/_table.html.twig', {
        'variable': category,
        'var' : 'category',
        'unique' : category.name,
        })
      }}

    {% endfor %}
  </tbody>
</table>
<form action="{{ path('category_add') }}" method="POST">
  <input type="hidden" name="token" value="{{ csrf_token('add-edit-item') }}"/>
  <button class="btn btn-success">Ajouter une nouvelle catégorie</button>
</form>

{% endblock %}
