{% extends 'base.html.twig' %}

{% block title %}Recherche par collection{% endblock %}

{% block situationActive %}active{% endblock %}

{% block body %}

<h1>Recherche par collection</h1>

<h2>Liste des collections</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for situation in situations %}

      {{ include('sample/_table.html.twig', {
        'variable': situation,
        'var' : 'situation',
        'unique' : situation.collection,
        })
      }}

    {% endfor %}
  </tbody>
</table>
<form action="{{ path('situation_add') }}" method="POST">
  <input type="hidden" name="token" value="{{ csrf_token('add-edit-item') }}"/>
  <button class="btn btn-success">Ajouter une nouvelle situation de collection</button>
</form>

{% endblock %}
