{% extends 'base.html.twig' %}

{% block title %}{{ method }} d'une technique{% endblock %}

{% block techniqueActive %}active{% endblock %}

{% block body %}

<h1>{{ method }} d'une technique</h1>

{{ include('sample/_form.html.twig') }}

{% endblock %}
