{% extends 'base.html.twig' %}

{% block title %}Recherche par format{% endblock %}

{% block sizeActive %}active{% endblock %}

{% block body %}

<h1>Recherche par format</h1>

{% if 0 is not same as count %}
<h2>Liste des {{ count }} tableaux du format {{ size.format }}</h2>
{% else %}
<h2>Aucun tableau trouvé</h2>
{% endif %}

{{ include('sample/_painting_skeleton.html.twig', {'paintings': paintings}) }}

<hr>

{{ include('sample/_nav_pages.html.twig', {'previousPage': previousPage, 'nextPage': nextPage, 'pages': pages, 'totalPages': totalPages, 'variable': size, 'var': 'size'}) }}

{% endblock %}
